/*body {
    margin: 0px;
    padding: 0px;
    background-image:linear-gradient(to right,#663177,#C63F7B);
    color: #ebdede;
}
  
header {
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    text-align: center;
}

.drop-link {
    background-color: inherit;
    color: white;
    padding: 16px 16px 12px 16px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 15px 10px 10px 10px;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    margin-top: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .drop-link {
    background-image:linear-gradient(to right,#663177,#C63F7B);
    color: black;
    
  }*/

  .name{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  #container{
    text-align:center;
    margin: auto;
    width: 45%;
    padding: 20px 50px 20px 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgba(242, 235, 235, 0.7);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: #2e2c2c;
  }
  #container:hover{
    box-shadow: 0px 3px 10px rgb(194, 176, 176);
  }
  input{
    width:200px;
  }
  #input{
    text-align: left;
    margin-left: 30px;
  }
  #input-bin{
    margin-left: 68px;
  }
  #input-oct{
    margin-left: 79px;
  }
  #input-dec{
    margin-left: 54px;
  }
  #input-hex{
    margin-left: 10px;
  }
  #input p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
  }
  
  .input-box{
    border:  2px solid black;
    border-radius: 5px;
    text-indent: 3px;
    height: 20px;
  }
  #btn-container{
    margin-left: 410px;
    margin-top: -38px;
    width: max-content;
  }
  
  #btn-container:hover{
    transform: translate(0,-5px);
  }
  #convert-link{
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-image: linear-gradient(to right, #4dccc6, #96e4df);    
    padding:3px 5px 3px 5px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    border:1px solid;
    border-radius:6px;
    background-color: rgb(196, 184, 184);
  }
  #convert-link:hover{
    text-decoration: underline;
    box-shadow: 0px 3px 10px rgb(59, 46, 46);
  }
  @media only screen and (max-width:1180px){
    #btn-container{
      margin-left: 0px;
      margin-top: 0px;
    }
    header{
      text-align: left;
    }
    #container{
      width:440px;
      padding: 20px 30px 20px 5px;
    }
    .drop-link {
      margin:-7px;
    }
    .dropdown-content{
      margin-left: -7px;
    }
  }
  
  .output{
    height: 20px;
    display: inline-block;
    border:  1px solid black;
    background-color: white;
    color: #000000;
    padding-top: 2px;
    border-radius: 5px;
    width: 235px;
    font-size: medium;
    text-indent: 3px;
  }
  #outbox-dec{
    margin-left: 90px;
  }
  #outbox-bin{
    margin-left: 104px;
  }
  #outbox-oct{
    margin-left: 116px;
  }
  #outbox-hex{
    margin-left: 47px;
  }
  
