body {
    margin: 0px;
    padding: 0px;
}
  
header {
    margin: 0px;
    padding: 0px;
    background-color: #333;
    text-align: center;
}
/* Navbar container */
/* Style The Dropdown Button */
.drop-link {
    background-color: inherit;
    color: white;
    padding: 16px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 15px 10px 10px 10px;
  }
  .dropdown .drop-link{
    font-weight: bolder;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    margin-top: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #f1f1f1
  }
  .dropdown-content a:active {
  background-color: yellow;
  color: black;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .drop-link {
    background-color: yellow;
    color: black;
  }
main{
    background-color:yellow;
}
section{
  height: 569px;
    padding: 20px;
}

footer{
    background-color: rgb(172, 19, 19);
    padding: 20px;
}

