/*.drop-link {
    background-color: inherit;
    color: white;
    padding: 16px 16px 12px 16px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 15px 10px 10px 10px;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    margin-top: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .drop-link {
    background-image:linear-gradient(to right,#663177,#C63F7B);
    color: black;
    
  }*/
  .name{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  #container{
    text-align:center;
    margin: auto;
    padding: 10px;
    font-size: larger;
    width: 50%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgba(242, 235, 235, 0.7);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: #2e2c2c;
    letter-spacing: 1px;
    word-spacing: 10px;
  }
  #container:hover{
    box-shadow: 0px 3px 10px rgb(59, 46, 46);
  }
  .input{
      border:2px solid black;
      text-indent: 3px;
  }
  #btn-container{
    margin-top: 20px;
    background-color: #333333;
    display: inline-block;
  }
  #btn{
    text-align:center;
  }
  #btn-container:hover{
    transform: translate(0,-5px);
  }

  #calculate-link{
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-image: linear-gradient(to right, #4dccc6, #96e4df);
    padding:3px 5px 3px 5px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    border:1px solid;
    border-radius:6px;
  }
  #calculate-link:hover{
    text-decoration: underline;
    box-shadow: 0px 3px 10px rgb(59, 46, 46);
  }
  @media only screen and (max-width:882px){
    header{
      text-align: left;
    }
    #container{
      width:440px;
      padding: 20px;
    }
    .drop-link {
      margin:-7px;
    }
    .dropdown-content{
      margin-left: -7px;
    }
    output{
      width: 200px;
    }
  }
  #operation{
    border:2px solid black;
  }
  output{
    height: 120px;
    display: inline-block;
    border:  1px solid black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 400px;
    margin:auto;
    margin-bottom: 10px;
    font-size: medium;
    text-indent: 3px;
    box-shadow:0px 0px 16px 0px rgba(0,0,0,0.5);
  }
  .result{
    text-align: left;
    font-size: larger;
    color: green;
    font-weight: bolder;
    text-transform: uppercase;
  }
  #dec-result{
    margin-top: 40px;
  }